@media screen and (max-width: 320px) {
  .container {
    width: auto;
    grid-template-columns: 1fr;
  }
  .goal table {
    margin-left: 10px;
  }
  .timeline table {
    margin-left: 10px;
  }
  .primary table {
    margin-left: 10px;
  }
  .grid-container {
    display: grid;
  }
  .charter {
    width: auto;
  }
}
