@media only screen and (min-width: 768px) and (max-width: 991px) {
  .user-avatar img {
    display: none;
  }
  #personal-info {
    font-size: 16px;
    /* padding-right: 40px; */
  }
  #target {
    font-size: 16px;
  }

  #nav-bar a:link,
  a:visited {
    padding: 10px;
    border-left: none;
    text-align: left;
  }
  .container-user .user {
    margin: 0;
    padding: 0;
  }
  .job-info {
    grid-template-columns: 1fr 1fr;
  }
  .certificate-item {
    grid-template-columns: 1fr;
  }
  .container-pro {
    grid-template-columns: 1fr 1fr;
  }
}
